
<footer>
  <hr>
  &copy;2019 <br/>
  Disclaimer: Information in this page may not be accurate. Information may be based on site designers own experiences. Please do research on your own
  with the sources provided. <br>

</footer>
<!-- closing body -->
</body>
</html>