<% include partials/header.ejs %>
</head>
<body>
    <a id="searchLink" href="/">Back to Search</a>
    <h1 id="favHeader">
        Favorite Pics
    </h1>

    <% rows.forEach(function(row) { %>
        <a class="keywordLink"> <%= row['keyword'] %> </a>
    <% }) %>

    <hr>

    <div id="favorites">

    </div>

<% include partials/footer.ejs %>