<% include partials/header.ejs %>

</head>

  <body>
    <main>
      <h1>Images that are Cool.</h1>
      <br>
      <!--<img src=<!%=imageURL%> >-->
      <form action="/search">
        <input type="text" size="20" placeholder="Type Keyword" name="keyword" />
        <br /><br />
        <button>Search</button>
      </form>
      <br>
    </main>
    <% include partials/footer.ejs %>