<% include partials/header.ejs %>
  </head>

  <body>
    <main>
      <h1>Images that are Cool.</h1>
      <br>
      <form action="/search">
        <input type="text" id="keyword" value="<%=keyword%>" size="20" placeholder="Type Keyword" name="keyword" />
        <br /><br />
        <button>Search</button>
        <a href="/displayKeywords"> See Favorites</a>
      </form>

<% imageURLs.forEach(function(imageURL, i){ %>
        <%- (i%3==0)?'<br>':'' %>
        <img src='<%=imageURL%>' width='200' height='200'>
        <img class='favoriteIcon' src='img/favorite.png' width='20'>
        <% }) %>

    </main>
    <% include partials/footer.ejs %>