/*
Most of below taken from Instructor videos.
Some w3 schools and one use of google fonts.
*/
body {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Permanent Marker', cursive;/*Taken from Goole Fonts*/
  font-size: 2.5em;
}

input, button {
  font-size: 2.5em;
}

main {
  background-color: rgba(0,0,0,0.75);/*Taken from Instructor video*/
  width: 50%;
  margin: 0 auto; /*Centers Content*/
}

h1 {
  color: silver;
}
input {
  font-size: 1.3em;
  size: 15;
}

#favLink, #searchLink {
  background-color: rgba(250,250, 250, 0.75);/*Taken from Video*/
  color: cyan;
  font-size: .8ems;
}

.image {
  border-radius: 20px;
}

.imageContainer {
  background-color: rgba(250,250, 250, 0.75);/*Taken from Video*/
  display: inline-block;
  paddin: 15px;
}

#favHeader {
  background-color: rgba(250,250, 250, 0.75);/*Taken from Video*/
  color:Black;
  width: 50%;
  border-radius: 25px;
  margin: 0 auto; /*centers container*/
}

.keywordLink {
  background-color: rgba(250,250, 250, 0.75);/*Taken from Video*/
  text-color: white;
  font-size: 1.5em;
}